NEXT_PUBLIC_SUPABASE_URL=https://gzjucqkeddwoteugddik.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_mAVZBRpp9SFpRtUB_qegig_SsgvbUCr
NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_BACKEND_URL=http://localhost:8000/api/manager
